.contactMeGroup {
    text-align: center;
}

.form-control {
    margin-left: auto;
    margin-right: auto;
}

.contact {
    text-align: center;
    width: 1000px;
}

form {
    margin: 0 auto;
    width: 80%;
}