.contactMeGroup {
    color: white;
    padding: 10px;
}

.form-control {
    margin-left: auto;
    margin-right: auto;
}

.contact {
    text-align: left;
    width: 1000px;
    color: white;
}

form {
    margin: 0 auto;
    width: 80%;
    color: white;
    padding: 20px;
}