:root {
    --red: #e80d0d;
    --orange: #f98500;
    --yellow: #ffc600;
    --green: #10a503;
    --blue-green: #0ed6a4;
    --blue: #0071b2;
    --purple: #6a00b2;
    --brown: #8c7a51;
    --grey: #53565A;
    --black: #272727;
}